body {
  display: block;
  margin: 8px;
  font-family: "Cormorant", serif;
}

#coffee-icon {
  position: absolute;
  top: 50px;
  font-size: 8vw;
}

.colors {
  
  position: absolute;
  left:0;
  padding-left: 80px;
  padding-top: 80px;
}

.colors>div {
  width: 6vw;
  height: 6vw;
  margin-bottom: 4vw;
}

.color1 {
  background-color: #02b3e4;
}

.color2 {
  background-color: #2d3c49;
}

.color3 {
  background-color: #7d97ad;
}

.name {
  font-size: 6vw;
  text-align: right;
  margin-bottom: 0;
}

.job-title {
  font-size: 2vw;
  text-align: right;
  margin: 0 0 20px 0;
  font-weight: 300;
}

.hero-image {
  padding-top: 10px;
  max-width: 100%;
  height: auto;
}

.featured-work {
  margin: 8px 0 0 5px;
  color: grey;
  font-weight: 600;
  font-size: 3.5vw;
}

.features {
  display: flex;
  margin-top: 15px;
}

.feature {
  width: 30%;
  height: auto;
  margin-right: 5%;
}
.feature:last-child{
    margin-right: 0;
}

.feature-header {
  font-weight: 600;
  text-align: center;
  word-break: break-all;
  font-size:2.5vw;
}

.feature-url {
  text-align: center;
  word-break: break-all;
  font-size: 1.5vw;
}

.feature-img {
  width: 100%;
  height: auto;
}

