body {
  font-family: "Cormorant", serif;
  width: 100%;
  height: 100%;
}

.feature-img {
  display: block;
  margin: 0 auto;
}

.feature-header {
  font-weight: 600;
  text-align: center;
  word-break: break-all;
  font-size: 8vw;
}

.feature-url {
  text-align: center;
  word-break: break-all;
  font-size: 2.5vw;
  padding: 0 3vw;
}

.featured-work {
  color: grey;
  font-weight: 600;
  text-align: center;
  font-size: 9vw;
}

#coffee-icon {
  float: left;
  font-size: 15vw;
  padding-top: 2vw;
}

.name {
  font-size: 10vw;
  text-align: right;
  margin-bottom: 0;
}

.job-title {
  font-size: 5vw;
  text-align: right;
  margin: 0 0 20px 0;
  font-weight: 300;
}

.colors {
  padding-top: 15px;
  text-align: center;
  padding-bottom: 25px;
}
.color1 {
  background-color: #02b3e4;
  float: left;
}

.color2 {
  background-color: #2d3c49;
  display: inline-block;
  float: none;
  margin: 0 auto;
}

.color3 {
  background-color: #7d97ad;
  float: right;
}

.colors>div {
  width: 25vw;  
  height: 25vw;
}
 
@media (min-width: 768px) {
  .feature-header {
    font-size: 3vw;
  }

  .feature-url {
    font-size: 1.5vw;
  }

  .featured-work {
    text-align: left;
    font-size: 4vw;
  }
  .colors {
    padding-left: 7vw;
    padding-top: 23vw;
  }

  .colors>div {
    width: 8vw;
    height: 8vw;
    margin-bottom: 3vw;
    float: left;
  }

  #coffee-icon {
    font-size: 12vw;
  }
}