body {
  display: block;
  margin: 8px;
  font-family: 'Cormorant', serif;
}

.container {

  width: 100%;
  height: 100%;
}

.main-body {
  width: 80%;
  padding-right: 3%;
  position: absolute;
  right: 0;
}

.name {
  font-size: 6vw;
  text-align: right;
  margin-bottom: 0;
}

.job-title {
  font-size: 2vw;
  text-align: right;
  margin: 0 0 20px 0;
  font-weight: 300;
}

.hero-image {
  padding-top: 10px;
  max-width: 100%;
  height: auto;
}

.featured-work {
  margin: 8px 0 0 5px;
  color: grey;
  font-weight: 600;
  font-size: 3.5vw;
}

.features {
  display: flex;
  margin-top: 15px;
}

.feature {
  width: 30%;
  height: auto;
  margin-right: 5%;
}
.feature:last-child{
    margin-right: 0;
}

.feature-header {
  font-weight: 600;
  text-align: center;
  word-break: break-all;
  font-size:2.5vw;
}

.feature-url {
  text-align: center;
  word-break: break-all;
  font-size: 1.5vw;
}

.feature-img {
  width: 100%;
}

